[menu]
	[[menu.main]]
		identifier = "rock-as-geo-material"
		name = "Rock as Geo-Material"
		url = "/docs/rock-as-geo-material/"
		post = "fas fa-caret-down"
		weight = "1"
	[[menu.main]]
		identifier = "item-1-a"
		name = "Introduction"
		url = "/docs/rock-as-geo-material/introduction/"
		parent = "rock-as-geo-material"
		weight = "1"
	[[menu.main]]
		identifier = "item-1-b"
		name = "Rock as Natural Material"
		url = "/docs/rock-as-geo-material/rock-as-natural-material/"
		parent = "rock-as-geo-material"
		weight = "2"
	[[menu.main]]
		identifier = "item-1-c"
		name = "Intact Rock v/s Rock Mass"
		url = "/docs/rock-as-geo-material/intact-rock-versus-rock-mass/"
		parent = "rock-as-geo-material"
		weight = "3"
	[[menu.main]]
		identifier = "weight-volume-relationship-of-porous-material"
		name = "Weight-Volume Relationship of Porous Material"
		url = "/docs/weight-volume-relationship-of-porous-material/"
		post = "fas fa-caret-down"
		weight = "2"
	[[menu.main]]
		identifier = "item-2-a"
		name = "Introduction"
		url = "/docs/weight-volume-relationship-of-porous-material/introduction/"
		parent = "weight-volume-relationship-of-porous-material"
		weight = "1"
	[[menu.main]]
		identifier = "item-2-b"
		name = "Phase Diagram"
		url = "/docs/weight-volume-relationship-of-porous-material/phase-diagram/"
		parent = "weight-volume-relationship-of-porous-material"
		weight = "2"
	[[menu.main]]
		identifier = "item-2-c"
		name = "Weight Volume Relationships"
		url = "/docs/weight-volume-relationship-of-porous-material/weight-volume-relationships/"
		parent = "weight-volume-relationship-of-porous-material"
		weight = "3"
	[[menu.main]]
		identifier = "rock-mass-classification-systems"
		name = "Rock Mass Classification Systems"
		url = "/docs/rock-mass-classification-systems/"
		post = "fas fa-caret-down"
		weight = "3"
	[[menu.main]]
		identifier = "item-3-a"
		name = "Definition & Properties of Rock Mass"
		url = "/docs/rock-mass-classification-systems/definition-and-properties-of-rock-mass/"
		parent = "rock-mass-classification-systems"
		weight = "1"




	<!-- My MENU Template -->
	<!-- Menu Items will go here -->
	<aside>
	    <ul class="menu">
	        {{ $currentPage := . }}
	        {{ range .Site.Menus.main }}
	            {{ if .HasChildren }}
	                <li class="menu-items {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}">
	                    <a href="{{.URL}}">
	                        <span>{{ .Name }} 123</span>
	                    </a>
	                </li>
	                <ul class="sub-menu">
	                    {{ range .Children }}
	                        <li class="sub-menu-items {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}">
	                            <a href="{{ .URL }}">{{ .Name }}</a>
	                        </li>
	                    {{ end }}
	                </ul>
	            {{ else }}
	                <li class="menu-items">
	                    <a href="{{ .URL }}">
	                        <span>{{ .Name }} 345</span>
	                    </a>
	                </li>
	            {{ end }}
	        {{ end }}
	    </ul>
	</aside>




<!-- COding is Fun template -->
{{- if .Site.Menus.main }}
<nav class="menu">
	<button class="menu__btn" aria-haspopup="true" aria-expanded="false" tabindex="0">
		<span class="menu__btn-title" tabindex="-1">{{ T "menu_label" }}</span>
	</button>
	<ul class="menu__list">
		{{- $currentNode := . }}
		{{- range .Site.Menus.main }}
		{{- if .Name }}
		{{- if .HasChildren }}
		<li class="menu__item menu__dropdown{{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} menu__item--active{{ end }}">
			<a class="menu__link" href="{{ .URL }}">
				{{ .Pre }}
				<span class="menu__text">{{ .Name }}</span>
				<label class="drop-icon" for="{{ .Name }}">▾</label>
				{{ .Post }}
			</a>
			<input type="checkbox" id="{{ .Name }}">
			<ul class="submenu__list">
				{{ range .Children }}
				<li class="menu__item{{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} menu__item--active{{ end }}">
					<a class="menu__link" href="{{ .URL }}">
						{{ .Pre }}
						<span class="menu__text">{{ .Name }}</span>
						{{ .Post }}
					</a>
				</li>
				{{ end }}
			</ul>
		</li>
		{{- else }}
		<li class="menu__item{{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} menu__item--active{{ end }}">
			<a class="menu__link" href="{{ .URL }}">
				{{ .Pre }}
				<span class="menu__text">{{ .Name }}</span>
				{{ .Post }}
			</a>
		</li>
		{{- end }}
		{{- end }}
		{{- end }}
	</ul>













	<!-- HUGO MENU TEMPLATE - sidebar start -->
	<aside>
	    <ul>
	        {{ $currentPage := . }}
	        {{ range .Site.Menus.main }}
	            {{ if .HasChildren }}
	                <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
	                    <a href="#">
	                        {{ .Pre }}
	                        <span>{{ .Name }}</span>
	                    </a>
	                </li>
	                <ul class="sub-menu">
	                    {{ range .Children }}
	                        <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
	                            <a href="{{ .URL }}">{{ .Name }}</a>
	                        </li>
	                    {{ end }}
	                </ul>
	            {{ else }}
	                <li>
	                    <a href="{{ .URL }}">
	                        {{ .Pre }}
	                        <span>{{ .Name }}</span>
	                    </a>
	                </li>
	            {{ end }}
	        {{ end }}
	        <li>
	            <a href="#" target="_blank">Hardcoded Link 1</a>
	        </li>
	        <li>
	            <a href="#" target="_blank">Hardcoded Link 2</a>
	        </li>
	    </ul>
	</aside>















	<!-- REQUIRED OUTPUT -->
	<!-- .sidebar-menu-item-heading -->
	<div class="sidebar-menu-item-heading d-flex justify-content-between pt-3 mb-2 border-bottom border-secondary" data-toggle="collapse" data-target="#item-1">
		<p class="text-white font-weight-bold">Rock as Geo-Material</p>
		<p class="m-0 text-white ml-2"><i class="fas fa-caret-down"></i></p>
	</div>
	<ul class="sidebar-menu-item-content collapse show list-unstyled mb-0 pl-3" id="item-1" data-parent="#sidebar-accordion">
		<li class="small"><a href="index.html">Introduction</a></li>
		<li class="small"><a href="operators.html">Operators</a></li>
		<li class="small"><a href="#!">Truthy &amp; Falsy</a></li>
		<li class="small"><a href="#!">Types</a></li>
		<li class="small"><a href="#!">Variations of Liquid</a></li>
		<li class="small"><a href="#!">Whitespace control</a></li>
	</ul>
	<!-- .sidebar-menu-item-heading -->
	<div class="sidebar-menu-item-heading d-flex justify-content-between pt-3 mb-2 border-bottom border-secondary" data-toggle="collapse" data-target="#item-2">
		<p class="text-white font-weight-bold">Weight-Volume Relationships of Porous Material</p>
		<p class="m-0 float-end text-white ml-2"><i class="fas fa-caret-down"></i></p>
	</div>
	<ul class="sidebar-menu-item-content collapse list-unstyled mb-0 pl-3" id="item-2" data-parent="#sidebar-accordion">
		<li class="small"><a href="#!">Comment</a></li>
		<li class="small"><a href="#!">Control Flow</a></li>
		<li class="small"><a href="#!">Iteration</a></li>
		<li class="small"><a href="#!">Raw</a></li>
		<li class="small"><a href="#!">Variable</a></li>
	</ul>
	<!-- .sidebar-menu-item-heading -->
	<div class="sidebar-menu-item-heading d-flex justify-content-between pt-3 mb-2 border-bottom border-secondary" data-toggle="collapse" data-target="#item-3">
		<h5 class="text-white">Filters</h5>
		<p class="m-0 float-end text-white"><i class="fas fa-caret-down"></i></p>
	</div>
	<ul class="sidebar-menu-item-content collapse list-unstyled mb-0 pl-3" id="item-3" data-parent="#sidebar-accordion">
		<li>
			<a href="#!">abs</a>
		</li>
		<li>
			<a href="#!">append</a>
		</li>
		<li>
			<a href="#!">at_least</a>
		</li>
		<li>
			<a href="#!">at_most</a>
		</li>
		<li>
			<a href="#!">abs</a>
		</li>
		<li>
			<a href="#!">append</a>
		</li>
		<li>
			<a href="#!">at_least</a>
		</li>
		<li>
			<a href="#!">at_most</a>
		</li>
		<li>
			<a href="#!">abs</a>
		</li>
		<li>
			<a href="#!">append</a>
		</li>
		<li>
			<a href="#!">at_least</a>
		</li>
		<li>
			<a href="#!">at_most</a>
		</li>
		<li>
			<a href="#!">abs</a>
		</li>
		<li>
			<a href="#!">append</a>
		</li>
		<li>
			<a href="#!">at_least</a>
		</li>
		<li>
			<a href="#!">at_most</a>
		</li>
	</ul>