#side-nav-wrapper,
#main-content-wrapper{
	height: 100vh;
	overflow: auto;
}

#bars-menu-icon{
	display: none;
}
/*Side-Nav Styling*/
.menu{
	background: #2c3135;
	padding: 20px;
	list-style: none;
	margin: 20px 0;
	border-top: 4px solid #474f56;
	border-radius: 5px;
}
.menu .menu-items{
	color: #ebebeb;
	font-size: 0.9rem;
	padding-bottom: 5px;
	font-weight: bold;
	text-decoration: none;
}
.sub-menu{
	padding: 0px;
	background: var(--dark);
	margin: 0 0 16px 0;
	border-bottom: 4px solid #474f56;
	border-radius: 5px;
	list-style: none;
}
.sub-menu .sub-menu-items{
	padding: 4px 10px;
	border-bottom: 1px solid rgba(255,255,255,0.05);
}
.sub-menu .sub-menu-items a{
	color: #ccc;
	font-size: 0.8rem;
}
.sub-menu .sub-menu-items a:hover,
.sub-menu .sub-menu-items.active a{
	color: var(--warning);
}





/*-----------------------------------------*/
/*     RESPONSIVE DESIGN STARTS HERE
/*-----------------------------------------*/
@media (max-width: 768.98px){
	#main-content-wrapper{
		height: initial;
		overflow: initial;
		border-top: 5px solid var(--warning);
	}
	#side-nav-wrapper{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1500;
		animation: fadeIn 0.25s;
	}
	@keyframes fadeIn{
		from{
			opacity: 0;
			transform: translateX(-50px);
		}
		to{
			opacity: 1;
			transform: translateX(0px);
		}
	}
	#bars-menu-icon.open{
		display: block;
		width: 60px;
		height: 60px;
		background: var(--warning);
		border: 2px solid #000;
		border-radius: 100%;
		outline: none;
		position: fixed;
		bottom: 20px;
		right: 20px;
		z-index: 2000;
		transition: 0.25s;
	}
	#bars-menu-icon.close{
		display: block;
		width: 60px;
		height: 60px;
		color: #fff;
		background: var(--danger);
		border: 2px solid #fff;
		border-radius: 100%;
		outline: none;
		position: fixed;
		bottom: 20px;
		right: 20px;
		z-index: 2000;
		transition: 0.25s;
	}
}