<!DOCTYPE html>
<html>

  {{ partial "head.html" . }}

  <body>

    {{if .IsHome}}
    	{{ partial "header.html" . }}
      {{ block "main" . }} {{ end }}
    {{else}}
      <div class="container-fluid">
        <!-- Hamberger Menu Icon -->
        <button id="bars-menu-icon" class="open" onclick="activateMenu()"><i class="fa fa-bars fa-2x"></i></button>
        <div class="row">
          <div id="side-nav-wrapper" class="col-lg-3 col-md-4 bg-dark">
            {{ partial "side-nav.html" . }}
          </div>
          <div id="main-content-wrapper" class="col-lg-9 col-md-8 bg-light">
            <div class="py-4 px-md-5 px-3">
              {{ block "main" . }} {{ end }}
            </div>
          </div>
        </div>
      </div>
    {{end}}



    <!-- Bootstrap Js -->
    <script src="{{`js/jquery.min.js` | absURL}}"></script>   
    <script src="{{`js/bootstrap.bundle.min.js` | absURL}}"></script>   
    <!-- Main Js -->
    <script src="{{`js/main.js` | absURL}}"></script>

  </body>

</html>