{{define "main"}}
<div class="bg-light py-5 border-bottom shadow-sm">
		<div class="container">
		<h1 class="display-4">Hello, Mining Engineers!</h1>
		<p class="lead">This is a simple documentation website for the in-depth knowledge of rock mechanics and its applications. This website has been created by me and my colleagues, and we hope it helps you in better understanding of the subject.</p>
		<hr class="my-4">
		<p>It has been crafted by the best professors from around the world.</p>
		<p class="lead">
			<a class="btn btn-dark btn-lg" href="/docs" role="button">Explore Docs <i class="fas fa-arrow-circle-right ml-1"></i></a>
		</p>
	</div>
</div>
{{end}}